<header id="introduction">
  <div *ngIf="!isUndefinedIntro()" [ngClass]="isMobile ? 'mobile' : 'desktop'" class="introduction-container">
    <h1>{{introduction?.attributes?.userTitle}}
      <span>Ingénieur informaticieeeeeeen</span></h1>
    <markdown [data]="introduction?.attributes?.aboutMe"></markdown>
    <div class="profile-picture-container">
      <img [src]="profilePictureLogoUrl"/>
    </div>
  </div>
  <ng-container *ngIf="isUndefinedIntro()">
    <mat-spinner></mat-spinner>
  </ng-container>
</header>
