<section id="introduction">
  <ng-container *ngIf="!isUndefinedIntro()">
    <header class="hero">
      <h1>{{introduction?.attributes?.userTitle}}
        <span>Ingénieur informaticieeeeeeen</span></h1>
      <img/>
    </header>
    <div>
      <p>{{introduction?.attributes?.profilePicture?.data?.attributes?.url}}</p>
      <markdown [data]="introduction?.attributes?.aboutMe"></markdown>
    </div>
  </ng-container>
  <ng-container *ngIf="isUndefinedIntro()">
    <mat-spinner></mat-spinner>
  </ng-container>
</section>
