.title-container {
  display: flex;
  margin: 2rem 0;
  justify-content: space-between;

  h2 {
    color: var(--primary);
    text-transform: uppercase;
    border-bottom: solid 3px var(--primary);
    margin-bottom: 0;
    flex-grow: 2;
  }

  .section-logo {
    color: white;
    font-size: 1.5rem;
    padding: .5rem;
    border-radius: 50%;
    background: var(--primary);
    margin-left: 4rem;
  }
}
