mat-card {
  margin: 1rem;
  display: flex;
  justify-content: space-between;
  width: 400px;
  align-items: start;
  height: 180px;

  .skill-card-main-content {
    display: flex;
    flex-direction: column;

    mat-card-title {
      margin-bottom: .5rem;
    }

    mat-card-subtitle {
      margin-bottom: .2rem;
    }

    mat-card-content {
      flex-grow: 1;
    }
  }

  img {
    align-self: center;
    height: 75px;
    width: 75px;
    margin-left: .5rem;
    padding: .5rem;
    object-fit: contain;
    border-radius: 50%;
    border: solid 2px var(--dark);
  }

}
