mat-card {
  margin: 1rem 0 0 1rem;
  display: flex;
  justify-content: center;
  width: 400px;
  align-items: center;
  height: 100%;

  .skill-card-main-content {
    display: flex;
    flex-direction: column;
    height: 100%;

    mat-card-title-group {
      mat-card-title {
        margin-bottom: .5rem;
      }

      mat-card-subtitle {
        margin-bottom: .2rem;
      }
    }

    mat-card-content {
      margin-bottom: 0;
    }
  }

  img {
    align-self: center;
    display: inline-block;
    height: 75px;
    width: 75px;
    margin-left: .5rem;
    padding: .5rem;
    object-fit: contain;
    border-radius: 50%;
    border: solid 2px var(--dark);
  }
}
