<div class="unique-experience-container">
  <app-date-container
    [completeEndDate]="experience?.attributes?.endDate"
    [completeStartDate]="experience?.attributes?.startDate"></app-date-container>
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{experience?.attributes?.jobTitle}}</mat-card-title>
      <mat-card-subtitle>{{experience?.attributes?.company?.data?.attributes?.companyName}}</mat-card-subtitle>
      <img
        [src]="companyLogoUrl"
        mat-card-avatar/>
    </mat-card-header>
    <mat-card-content class="experience-card-content">
      <markdown [data]="experience?.attributes?.jobDescription"></markdown>
    </mat-card-content>
  </mat-card>

</div>
